<div class="aboutDivContainer">
  <h2>Дополните информацию о себе: </h2>
  <br>
  <form action="/registration/about" method="POST" name="about">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ваше имя:</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ваш возраст:</label>
      <input type="number" class="form-control" id="age" name="age">
    </div>
    <p class="semiTitle">Какие у вас интересы?</p>
    <select class="selectSome" aria-label=".form-select-sm example" id="interest">
      {{#each titleInterests}}
      <option selected id={{this.id}} class="theme">{{this.title}}</option>
      {{/each}}
    </select>
    <p class="semiTitle">На какие темы любите поговорить?</p>
    <select class="selectSome" aria-label=".form-select-sm example" id="theme">
      {{#each titleThemes}}
      <option selected id={{this.id}}>{{this.title}}</option>
      {{/each}}
    </select>
    <div class="checker">
      <input class="form-check-input" type="checkbox" value="" id="smoke">
      <label class="form-check-label" for="flexCheckDefault">
        Курю
      </label>
    </div>
    <div class="checker">
      <input class="form-check-input" type="checkbox" value="" id="drink">
      <label class="form-check-label" for="flexCheckChecked">
        Пью
      </label>
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ссылка на соц.сеть:</label>
      <input type="text" class="form-control" id="social" aria-describedby="emailHelp" name="social">
    </div>
    <button type="submit" class="aboutBtn">Подтвердить</button>
  </form>
</div>
