<div class="btnContainer">

  <button type="button" class="btn btn-primary" id="login">Login</button>
  <button type="button" class="btn btn-success customregister" id="register">Register</button>


</div>
<p class="description">Вы попали на вечеринку, поздравляю, пройдите авторизацию или регистрацию и начните знакомиться!
</p>
