<div class="containerCard">

  {{#each response}}
  <div class="card">

    <div class="divImg">
      <img src="/src/Снимок экрана 2021-12-08 в 12.21.19.png" class="imgClass" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.age}}</p>
        <p class="card-text">{{this.social}}</p>
      </div>
    </div>

  </div>
  {{/each}}
</div>
