<div name="profile">
<div name="user-avatar">
  <img src="" alt="">
</div>

<div name="props" >
<form style="display: flex; flex-direction: column;">
  <input style="margin-top: 1em;" type="text" name="name">
  <input style="margin-top: 1em;" type="text" name="login" value="login">
  <input style="margin-top: 1em;" type="text" name="email" value="email">
  <input style="margin-top: 1em;" type="text" name="age" value="" placeholder="age">
  <input style="margin-top: 1em;" type="text" name="social" value="https://vk.com">
  <input style="margin-top: 1em;" type="submit" value="edit">
</form>
<form name="pref" style="display: flex; flex-direction: column;">
  <input style="margin-top: 1em;" type="text" value="category">
  <input style="margin-top: 1em;" type="text" value="aim">
  <input style="margin-top: 1em;" type="text" value="smthg">
  <input style="margin-top: 1em;" type="submit" value="edit">
</form>
</div>
</div>
