<div name="profile">
<div name="user-avatar">
  <img src="" alt="">
</div>

<div name="props" class="props" >
<form name="interests" style="display: flex; flex-direction: column;">
  <label for="name">Name:</label>
  <input style="margin-top: 1em;" type="text" name="name" placeholder="name">
  <label for="login">Login:</label>
  <input style="margin-top: 1em;" type="text" name="login" placeholder="login">
  <label for="email">email:</label>
  <input style="margin-top: 1em;" type="text" name="email" placeholder="email">
  <label for="age">Age:</label>
  <input style="margin-top: 1em;" type="text" name="age" placeholder="age">
  <label for="social">Link to social:</label>
  <input style="margin-top: 1em;" type="text" name="social" placeholder="https://vk.com">
  <input style="margin-top: 1em;" type="submit" value="edit">
</form>
<form name="pref" style="display: flex; flex-direction: column;">
  <input style="margin-top: 1em;" type="text" value="category">
  <input style="margin-top: 1em;" type="text" value="aim">
  <input style="margin-top: 1em;" type="text" value="smthg">
  <input style="margin-top: 1em;" type="submit" value="edit">
</form>
</div>
</div>
