<form name="register" class="formLogin">

  <div class="loginBtnDiv">
    <label for="exampleInputEmail1" class="form-label">Логин</label>
    <input type="text" class="inputValue" id="exampleInputEmail1" aria-describedby="emailHelp" name="login">
  </div>
  <div class="passwordBtnDiv">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="inputValue" id="password" name="password">
  </div>
  <div class="emailBtnDiv">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="inputValue" id="email" name="email">
  </div>
  <button type="submit" class="registerBtn mBtn">Зарегистрироваться</button>
</form>
