
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#alert {
  visibility: hidden;
}
body {
  background-color: #1F2833;

}

h1 {
  color: #66FCF1;
  display: flex;
  justify-content: center;
  font-size: 100px;
}
.btnContainer {
  display: flex;

}

.loginBtnDiv {
  
}
.passwordBtnDiv {
  
}
.emailBtnDiv {
  
}
.description {
  color: #C5C6C7;
}



