
body{
	background-color: #F5DFBB;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	margin: 0px auto;
	margin-left: 0px;
	width: 320px;
	background-color: #0c0a07;
	position: relative;
	color:#127475;
	text-align: center;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
}
#check-menu{
	display: none;
}
.burger-line{
	position: absolute;
	top: 8px;
	right: 10px;
	width: 35px;
	height: 2px;
	background-color: #127475;
}
.second, .third{
	top: 18px;
}
.fourth{
	top: 28px;
}
.main-menu{
	display: block;
	position: absolute;
	width: 20%;
	top: 40px;
	left: 60px;
	transform: translate(100%);
	max-height: 0;
	font-size: 0;
	overflow:auto;
 transition: .1s all;
}
a{
display: block;
width: 100%;
padding: 10px;
color: black;
text-decoration: none;
border-top: 1px solid rgba(255,255, 255, .3);
background-color: saddlebrown;
}
#check-menu:checked ~ .main-menu{
max-height: 500px;
font-size: 16px;
}

#check-menu:checked ~ .first{
	display: none;
	}
	#check-menu:checked ~ .second{
	transform: rotate(45deg);
	}
	#check-menu:checked ~ .second{
	transform: rotate(-45deg);
	}
	#check-menu:checked ~ .fourth{
		display: none;
	}




.card{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-radius: 5px;
	border: 3px black solid;
	border-color: #127475;
	display: inline-block;
	margin: 100px;
}
body{
	margin: 0;
	padding: 0;
	box-sizing : border-box;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

#alert {
  visibility: hidden;
}
body {
  background: #E5E5E5;
}

h1 {
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 77px;
}
.btnContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.loginBtnDiv {
}
.passwordBtnDiv {
  
}
.emailBtnDiv {
  
}
.description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 70px;
  color: #19191B;
  display: flex;
  justify-content: center;
}

.loginBtn {
  width: 211px;
  background-color: #FF7143;
  border-radius: 10px;
  height:60px;
  border: none;
}

.registerBtn {
  width: 211px;
  height:60px;
  border-radius: 10px;
  background: #5454D4;
  border: none;
}

.registerBtn:hover {
  background: #0303f1;
}

.loginBtn:hover {
  background-color: #ee4912;
}

.stateContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.loginFormContainer {


}

.form-label {
  font-size: 35px;
  width: 350px;
}

.form-control {
  width: 350px;
  font-size: 25px;
}

.loginBtnIn {
  margin-top: 50px;
}

.inputValue {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.formLogin {
  width: 450px;
  margin: 0 auto;
}

.guest {
  background: #E5E5E5;
  margin-right: 75px;
  width: 100px;
  background: #e9593f;
  border-radius: 10px;
  height: 45px;
}

.mBtn {
  margin-top: 50px;
}

.aboutDivContainer {
  width: 500px;
  margin: 0 auto;
}

.semiTitle {
  margin: 8px 0;
}

.selectSome {
  padding: 5px;
  width: 50%;
}

.checker {
  margin: 5px 0;
}

.aboutBtn {
  width: 211px;
  height:60px;
  border-radius: 10px;
  background: teal;
  border: none;
  color: white;
  margin: 10px 0;
}

.cardContainer {
 
}

.imgClass {
  width: 100%;
  height: 100%
}

.divImg {
  width: 350px;
  height: 250px;
}

.containerCard {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 500px;
  height: 350px;


  padding: 25px;
}
